body {
    background-color: #d2faf7;
    margin: 0;
    padding: 0;
    font-family: tahoma;
}

header {
    background-color: #14204a;
   height: 70px;
}


.container {
    width: 100%;
    margin: auto;
    overflow: hidden;
}


.content {
    overflow: hidden;
}

.logoArea {
    width: 30%;
    height: 70px;
    float: left;
}

.logoArea img {
    width: 110px;
    height: 80px;
   padding-left: 5px;
}

.menuArea {
    width: 70%;
    float: left;
} 

.menu {
    font-size: 15px;
    margin: auto;
    padding: 0;
    overflow: hidden;
}

.menu li {
    list-style: none;
    float: left;
}

.menu li a {
    color: #ffffff;
    text-decoration: none;
    padding: 17px 30px;
    display: block;
    text-transform: capitalize;
}

.menu li a:hover {
    background-color:  #000099;
    height: 33px;
}

.subOfSub {
    padding: 0;
    background-color: #0000e6;
    position: absolute;
    display: none;
}

.subOfSub li {
    float: none;
}

.subOfSub li a:hover {
    background-color: #4d4dff;
}


.subMenu:hover .subOfSub {
    display: block;
}

.subOfSub-menu {
    position: relative;
}

.lastMenu {
    background-color:  #6666ff;
    left: 100%;
    padding: 0;
    top: 0;
    position: absolute;
    width: 100%;
    display: none;
    
 }
 

.lastMenu li a:hover {
    background-color: #2323b1;
    width: 70%;
    height: 100%;
}

.subOfSub-menu:hover .lastMenu {
    display: block;
}

h1{
    font-size: 4cqb;
}
h2{
    font-size: 30px;
}
p{
    color: rgb(59, 56, 56);
}
.orange-highlight{
    color: green;
  }
.half-width{
    padding-top: 10px;
    width: 40%;
    float: left;
    margin-left: 5%;
    padding-left: 2%;
}

.half-width img{
    width: 100%;
    margin-top: 10px;
    box-shadow: 1px 2px 3px 2px rgb(5, 28, 53);
    border-radius: 5px;
}

.link-button{
    text-decoration:none;
    padding: 10px 20px;
    margin-left: 200px;
    border-radius: 5px;
    color: white;
    font-weight: 700px;
    background-image: linear-gradient(45deg, rgb(120, 128, 248), rgb(23, 69, 219));
    box-shadow: 4px 1px 4px 1px rgb(19, 55, 95);
}

section{
    height: 500px;
    padding-bottom: 150px;
}

.half-width {
    margin-top: 50px;
}

.half-width h1  {
    margin-top: 60px;
    text-align: center;
}

.half-width p  {
 
    text-align: center;
}

.half-width .link-button {
    margin-top: 60px;
    text-align: center;
}


.footer {

    background-color: #14204a;
    position: relative
}

.footer__top {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    overflow: hidden;
    padding-bottom: 0;
    padding-top: 45px
}

.footer-top__left {
    float: left;
    width: 26%;
    padding-left: 4%
}

.footer-top__left a,.footer-top__right a {
    text-decoration: none;
    color: #fff
}

.footer p {
    color: #fff
}

.footer-top__right {
    float: right;
    width: 20%
}


.footer hr {
    color: #1d3d74;
    border-top: 1px solid #1d3d74
}

.pipe {
    margin: 0 20px
}

.footer__bottom {
    text-align: center;
    z-index: 1
}

.footer__bottom p {
    color: #fff
}

.copyright__p {
    margin-top: 40px;
    text-align: center;
    padding-bottom: 20px
}

.privacy__policy h4 {
    font-weight: 600;
    padding-bottom: 10px;
    padding-top: 10px;
    font-size: 16px
}

.privacy__policy {
    margin-bottom: 60px;
    padding: 0 50px
}
